<h1>LOGIN</h1>
<h2>Ingresa tus credenciales</h2>

<% if flash[:notice] %>
	<div>
		<em><%= flash[:notice] %></em>
	</div>
<% end %>

<%= form_tag enter_path do %>
	<div>
		<%= label_tag :email %>
		<%= email_field_tag :email, cookies.signed[:user_email]  %>
	</div>
	<div>
		<%= label_tag :password %>
		<%= password_field_tag :password %>
	</div>
	<div>
		<%= submit_tag "Login" %>
	</div>
<% end %>