<article class="is-post is-post-excerpt">
	<header>
   	<h2>Login</h2>
      <span class="byline">Ingresa tus credenciales</span> 
	</header>
</article>

<% if flash[:notice] %>
	<div>
		<em><%= flash[:notice] %></em>
	</div>
<% end %>

<%= form_tag enter_path do %>
	<div>
		<%= label_tag :email %>
		<%= email_field_tag :email %>
	</div>
	<div>
		<%= label_tag :password %>
		<%= password_field_tag :password %>
	</div>
	<div>
		<%= submit_tag "Login" %>
	</div>
<% end %>