<table class="bordered">
	<thead>
	<tr>
		<th>Numero</th>
		<th>Nombre</th>
		<th>Cumpleaños</th>
		<th>Equipo</th>
	</tr>
	</thead>
	<% country.players.each do |player| %>
		<tr>
			<td><%= player.number %></td>
			<td><%= link_to player.name, country_player_path(country, player) %></td>
			<td><%= player.formatted_birthday %></td>
			<td><%= player.team %></td>
		</tr>
	<% end %>
</table>
<p><%= link_to "Nueva Vista", new_country_player_path(country) %></p>