<article class="is-post is-post-excerpt">
	<header>
   	<h2>Paises en el Panini</h2>
      <span class="byline">Listado de paises clasificados a Brasil 2014!</span> 
	</header>
</article>
<%= index_description %>
<% if @countries.any? %>
	
	<%= render "search" %>

	<% if flash[:notice] %>
		<div><em><%= flash[:notice] %></em></div>
	<% end %>
	<div class="js_country_list">
		<%= render partial: "table", locals: { countries: @countries } %>
	</div>
<% else %>
	<em><strong>No hay Paises Agregados aun!</strong></em>
<% end %>
<br>
<%= link_a_new_country %>

