<h1>Paises en el Panini</h1>
<%= index_description %>
<% if @countries.any? %>
	<% if flash[:notice] %>
		<div><em><%= flash[:notice] %></em></div>
	<% end %>
	<table border="1">
		<tr>
			<th>Posicion</th>
			<th>Nombre</th>
			<th>Email</th>
			<th>Tengo</th>
			<th>Me falta</th>
		</tr>
		<%= render @countries %>
	</table>
<% else %>
	<em><strong>No hay Paises Agregados aun!</strong></em>
<% end %>
<br>
<%= link_a_new_country %>
<%= link_to "Reporte", report_countries_path %>
