<article class="is-post is-post-excerpt">
	<header>
   	<h2><%= @country.name %></h2>
      <span class="byline"><strong>Posicion:</strong><%= @country.position %>&nbsp;&nbsp;<strong>Email:</strong><%= @country.email %>&nbsp;&nbsp;<strong>URL:</strong><%= link_to "Pagina Oficial", @country.url %></span> 
	</header>
	<%= render partial: "shared/social_shares" %>
</article>

<%= render partial: "players/table", locals: { country: @country } %>

<p>
	<ul>
		<li><%= link_to "Editar", edit_country_path(@country) %></li>
		<li><%= link_to "Regresar", countries_path %></li>
	</ul>
</p>
