<!DOCTYPE html>
<html>
<head>
  <title>Panini</title>
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700|Open+Sans+Condensed:300,700" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="left-sidebar">
	<div id="wrapper">
		<div id="content">
			<div id="content-inner">
				<%= yield %>
			</div>
		</div>
		<div id="sidebar">
			<div id="logo">
      	<h1>PANINI</h1>
    	</div>
    	<nav id="nav" class="mobileUI-site-nav">
	      <ul>
	        <li class="current_page_item"><%= link_to "Home", root_path %></li>
	        <li><%= link_to "Paises", countries_path %></li>
	        <li><%= link_to "Reporte", report_countries_path %></li>
	        <li><%= link_to "Logout", logout_path, method: :post %></li>
	      </ul>
	    </nav>
	    <section class="is-text-style1">
	      <div class="inner">
	        <p> <strong>Panini:</strong> Disfruta llenando tu album panini del mundial de Brasil 2014 y gana muchos premios! </p>
	      </div>
	    </section>
		</div>
	</div>
</body>
</html>
