<!DOCTYPE html>
<html>
<head>
  <title>Panini</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<table>
	<tr>
		<td><%= link_to "PAISES", countries_path %></td>
	</tr>
</table>
<div id="content" style="background-color:#FFA500;">
<%= yield %>
</div>
</body>
</html>
