<!DOCTYPE html>
<html>
<head>
  <title>Panini</title>
  <%= stylesheet_link_tag    "external", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "external", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="topPan">
	  <ul>
	    <li class="menupadding"><%= link_to "Paises", countries_path %></li>
	    <li class="menupadding"><%= link_to "Reporte", report_countries_path %></li>
	  </ul>
	  <h1>ALBUM PANINI</h1>
	</div>
<div id="bodyPan">
<%= yield %>
</div>
</body>
</html>
